/* Reset */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* main styling */
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color:#333;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:1.7rem;
}

/* utilities */
.center {
    display:flex;
    justify-content: center;
}
.text-primary {
    color: #f7c08a;
}
.container {
    max-width: 1100px;
    margin:auto;
    padding:0px 20px;
    /* text-align: center; */
}
/* nav-bar */
.nav-bar {
    background-color: #333;
    overflow:auto;
    min-height: 60px;
}
.nav-bar ul{
    display: flex;
    justify-content: center;
    flex:1;
    min-height: 60px;
    align-items:center ;
}
.nav-bar ul li a {
    color:#fff;
    margin:0px 20px;
}
.nav-bar ul li a:hover,
.nav-bar ul li a.current {
    background-color: #666;
    color:#f7c08a;
}
/* showcase */
.showcase {
    height: 100vh;
    text-align: center;
    padding-top: 50px;
    font-size: 1.5 rem;
}
.showcase h1 {
    margin: 20px;
    font-size: 10.5 rem;
}

/* remaining amount */
.remaining-amount {
    background-color: #333;
    min-height: 70px;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 10px;
    position: sticky;
    top:0;
}

/* catalogue */
.catalogue {
    display:flex;
    flex-wrap: wrap;
    /* margin:2rem 3rem; */
    text-align: center;
    /* object-fit: cover; */
    align-items: center;
    justify-content: center;
}
.product {
    background-color: #666;
    color: #fff;
    /* object-fit: cover; */
    max-width: 380px;
    border-radius: 5px;
    margin: 2rem 3rem;
}
.product img {
    height: 380px;
    width: 380px;
    object-fit: cover;
}
.product-name {
    font-size: 1.4rem;
}
.product-price {
    font-size:1.2rem;
    margin-top:0.5rem;
}
.buy-sell-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    margin:1rem;
    padding: 1rem 1.5rem;
    background-color: #f7c08a;
    color:#666;
    border-radius:3px;
}
.btn-sell {
    background-color: #e80000;
}
.btn-sell:hover {
    background-color: #fd7d7d;
}
.btn-buy {
    background-color: rgb(0, 235, 0);
}
.btn-buy:hover {
    background-color: #8df88d;
}
/* billing */
.bill {
    text-align: center;
    margin:1.5rem;
}
.bill h1 {
    font-size:2rem;
    margin-bottom: 1rem;
}
.bill-info,.total-amount {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.total-amount {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: 1rem;
}
.btn-generate-receipt {
    width: 6rem;
}


